
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.containerUpper{
    display: flex;
    flex-direction: column;
    height: 35vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(155, 155, 155);
} 

h1, h3{
    color: white;
    padding: 10px;
}

.containerLower{
    background-color: rgb(31, 30, 30);
    padding: 8vh;
}

ul {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

li{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

a{
    color: white;
    padding: 10px;
}

img{
    width: 28vw;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}
